img,
embed,
object,
video {
    max-width: 100%;
}



@media (max-width: 919px) {

}

@media (max-width: 803px) {

}

@media (max-width: 767px) {

    .content {
        padding: 1em;
        display: block;
    }

    .nav {
        padding: 0;

        ul {
            flex-direction: column;
        }

        li {
            padding: 0;
        }
        .copyright,
        .social {
            grid-column: span 3;
            justify-self: center;
        }
    }

    .front-page .above-fold {
        display: block;
        padding: 1em;
        margin-top: 3rem;
    }

    .hero-header {
        display: none;
    }

    .project h1 {
        @include font-size(2em);
    }

    .date-container {
        flex-direction: column;

        .project-date {
            width: 60%;
            align-self: end;
            border: none;
            border-bottom: .1rem solid $white;
        }

        .project-date p {
            text-align: right;
            padding-left: 2rem;
            padding-right: 2rem;
        }

        .project-date h2 {
            margin-top: 1em;
            text-align: right;
        }

        .project-date:last-child {
            border: none;
        }
    }

    .footer .container {
        display: block;
        text-align: center;
    }

    .scroll-button {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30%;
    }
}

@media (max-width: 687px) {

}

@media (max-width: 571px) {
    .musicians {
        flex-direction: column;
    }

    .card {
        width: 94%;
    }

    .social {
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (max-width: 455px) {
    .card {
        width: 94%;
    }

    .musicians {
        flex-direction: column;
    }

    .content {
        display: block;
    }
}
