@import 'base';
@import 'scroll';
@import 'concerts';
@import 'images';

html,
body {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.upper {
    scroll-snap-align: start;
}

.hero-header {
    visibility: hidden;
}

.project {
    grid-column: 2 / span 2;
    grid-row: 2;
    color: $white;

    h1 {
        color: $white;
    }

    a:hover {
        color: $white;
    }
}

.project h1 {
    padding-left: 2rem;
}

.date-container {
    display: flex;
}

.project-date {
    margin: 0;
    border-left: .1rem solid $white;

    h2 {
        margin: 0;
        padding: 0 2rem;
    }

    p {
        text-align: center;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    a:hover {
        color: $white;
        text-decoration: underline;
    }

    a:visited {
        color: $white;
    }
}

.project-date:first-child {
    border-left: 0;
}

.lower {
    scroll-snap-align: start;
    background-color: $white-background;
}


.content-container {
    background-color: $white-background;
}


.footer {
    z-index: 2;
    scroll-snap-align: none;
    // background-color: $red;
    background-color: $footer-background;
}


.footer .container {
    color: #fff;

    a {
        color: $footer-link;
    }

    a:hover {
        color: $footer-link;
    }
}

.social {
    .fab,
    .fas {
        margin: 1rem 1rem 0 0;
    }
}

.front-page .footer {
    scroll-snap-align: end;
}
