@import 'base';
@import 'scroll';
@import 'layout';
@import 'concerts';
@import 'colors';
@import 'responsive';

html,
body {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

.upper {
    scroll-snap-align: start;
}

.date-container {
    display: flex;
}

.lower {
    scroll-snap-align: start;
    background-color: $white-background;
}


.content-container {
    background-color: $white-background;
}


.footer {
    z-index: 2;
    scroll-snap-align: none;
    // background-color: $red;
    background-color: $footer-background;
}


.footer .container {
    color: $white-background;

    a {
        color: $footer-link;
    }

    a:hover {
        color: $footer-link;
    }
}

.social {
    .fab,
    .fas {
        margin: 1rem 1rem 0 0;
    }
}

.front-page .footer {
    scroll-snap-align: end;
}


// ================FOR THE TEN PIECE BRASS=====================

.project-date {
    margin: 0;
    border-left: .1rem solid $white;

    h2 {
        margin: 0;
        padding: 0 2rem;
    }

    p {
        text-align: center;
    }

    a {
        color: $white;
        text-decoration: none;
    }

    a:hover {
        color: $white;
        text-decoration: underline;
    }

    a:visited {
        color: $white;
    }
}

.project-date:first-child {
    border-left: 0;
}

.project {
    grid-column: 2 / span 2;
    grid-row: 2;
    color: $white;

    h1 {
        color: $white;
    }

    a:hover {
        color: $white;
    }
}

.project h1 {
    padding-left: 2rem;
}

h1.namn {
    @include font-size(1em);
    // text-align: left;
    margin: 0;
}

.above-fold {
    height: calc(100vh - $footer-height);
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    grid-template-rows: $header-height 3fr 1fr 1fr;
    grid-gap: $gap-width;

    .hero-header {
        padding: 1rem;
        grid-column: 3;
        grid-row: 3;
        align-self: right;
        background-color: $mystery;
        color: $white;
        text-align: right;
    }
}

.hero-header h1 {
    align-self: center;
}

.below-fold {
    // height: 100vh;
    background-color: $white-background;
    margin-top: $footer-height;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-header {
    visibility: hidden;
}

// nav

#nav {
    border-bottom: 2px solid $nav-border;
    background-color: $nav-background;

    a {
        color: $link-color;
    }

    ul li {
        background-color: $nav-background;
    }
}

.fa,
.fas {
    color: $earth;
}
