html,
body {
    height: 100%;
    overflow-x: scroll;
}

.page-wrapper {
    display: flex;
    flex-flow: column;
    height: 100vh;
}


.content-container {
    flex-grow: 5;
}


.content {
    margin-top: $header-height;
    display: grid;
    grid-template-columns: auto 40rem auto;
    // flex-grow: 5;
}


article {
    grid-column: 2;
    grid-row: 1;
}

.article-image {
    padding: 1em;
    width: 60%;
}

.left {
    float: left;
    padding-left: 0;
}

.right {
    float: right;
    padding-right: 0;
}

.footer {
    grid-row: 3;
    grid-column: 1 / 4;
    .container {
        margin: 0 1rem 0 1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
}


.social {
    .fab,
    .fas {
        margin: 1rem 1rem 0 0;
    }
}
