.hidden {
    display: none !important;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0 none;
}

.slide {
    overflow-y: hidden !important;
    transition: height 0.5s ease-in !important;
}


// .navigation {
#nav {
    z-index: 2;
    border-bottom: 2px solid $nav-border;
    background-color: $nav-background;
    margin-bottom: 1em;
    // padding-top: 2em;
    position: fixed;
    top: 0;
    width: 100%;
    min-height: $header-height;
    text-align: center;

    a {
        color: $link-color;
        text-decoration: none;
    }

    .logo {
        height: 2em;
        margin-top: 1em;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    ul li {
        display: inline-block;
        margin-left: 1em;
        padding: 0;
        font-weight: bold;
        background-color: $nav-background;
        // opacity: 60%;
    }

    a:hover {
        text-decoration: underline;
    }
}


// #nav a:hover,
// #nav-toggle:hover {
//     text-decoration: underline;
// }

// #nav a:hover,
// #nav-toggle:hover {
//     text-decoration: underline;
// }

.nav-toggle {
    // #nav-toggle {
    display: none;
}

.nav-toggle {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
}
