// Typography
// @import url('https://fonts.googleapis.com/css2?family=Exo&family=Expletus+Sans&family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&family=Oswald:wght@700&display=swap');

$font-family: 'Merriweather', Georgia, Times, 'Times New Roman', serif;
$header-font-family: 'Oswald', sans-serif;


body {
    font-size: $fontsize;
    line-height: $lineheight;
    font-family: $font-family;
    color: $body-color;
}

h1,
h2,
h3,
h4 {
    font-family: $header-font-family;
}

h1 {
    @include font-size(2.3em);
    margin-top: 1rem;
}

h2 {
    @include font-size(1.6em);
}

h3 {
    @include font-size(1.2em);
}

p {
    @include font-size(1em);
    margin-top: 1em;
}

ul {
    list-style-position: inside;
    margin-left: 0.5em;
}

li p,
li h1 {
    margin-left: 1rem;
}

figcaption {
    text-align: center;
}

a {
    color: $link-color-dark;
    text-decoration: underline;
}

a:hover {
    color: $link-hover;
    text-decoration: none;
}

.social a {
    text-decoration: none;
}
