<div class="nav-holder">
    <a class="nav-toggle" id="nav-toggle" title="Toggle Menu" role="button" aria-controls="nav" aria-expanded="false" tabindex="-1">
        <i class="fa fa-bars" aria-hidden="true" id="toggler"></i>
        <span class="sr-only">Toggle Menu</span>
    </a>
    <div class="nav menu">
        <div id="nav" role="navigation" tabindex="-1">
        <!-- <a href="{{ base_url }}"><img src="{{ base_url }}/image/logga.png" alt="Sköld" class="logo"></a> -->
            <ul>
                {% for page in pages(depthOffset=-1)|sort_by(['meta', 'order']) %}
                    {% if page.title and not page.hidden %}
                        <li{% if page.id == current_page.id %} class="active"{% endif %}>
                            <a href="{{ page.url }}">{{ page.title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
